header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
ul,
nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

header h2 {
	text-transform: uppercase;
	position: fixed;
}
header nav {
	display: flex;
	margin-left: 850px;
}
header nav li {
	margin: 0 15px;
}
header nav li:first-child {
	margin-left: 0;
}
header nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 20px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header .logo {
		margin: 10px;
	}
	header nav li {
		margin: 0 7px;
	}
	header nav {
		top: 150px;
		margin-left: 20px;
	}
	header h2 {
		position: relative;
	}
}
