#skils {
	background: #ddd;
}
ul.skils-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skils-content li {
	height: 200px;
	/* padding: 0 5px; */
	flex-basis: 14.028%;
	text-align: center;
	color: crimson;
}
.skils-area i {
	font-size: 50px;
	color: crimson;
	margin-bottom: 5px;
}
.skils-area li h4 {
	font-size: 20px;
	color: crimson;
	margin-bottom: 45px;
}
.skils-content li h3 {
	margin: 0;
}
@media (max-width: 1000px) {
	.skils-content li {
		flex-basis: 100%;
	}
	.skils-content li:last-child {
		margin-bottom: 0;
	}
	.skils-content li h3 {
		padding: 0;
	}
}
@media (max-width: 700px) {
	.skils-content li {
		flex-basis: 100%;
		margin-bottom: 0;
	}
	.skils-content li:last-child {
		margin-bottom: 0;
	}
	.skils-content li h3 {
		padding: 0;
		margin: 2px;
	}
}
